html, body {
    margin: 0;
    padding: 0;
    background-image: url('../images/first_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
nav {
    background-color: #F78301;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
  
.logo-button {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 8%
}
  
.logo-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
  
.nav-links .button-a{
    display: inline-block;
    background-color: #FDCE57;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
  
}
.nav-links .button-b{
    display: inline-block;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
    margin-left: 10px;
}
.nav-links .button-c{
  display: inline-block;
  background-color: #FDCE57;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;    
  font-family: "Gothic A1", sans-serif;
  width: 100px;
  height: 50%;
  margin-left: 10px;
}

.nav-links .button-a:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-b:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-c:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}


.profile img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #FDCE57;
    border-radius: 100px;
    object-fit: cover;
    padding: 5px; 
}
.logout img{
  height: 45px;
  width: 45px;
  max-height: 100px;
  max-width: 100px;
  margin-left: 5px;
  margin-top: 5px;
   
}

.first-page{
  /*box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
  position: absolute;
  width: 480px;
  height: 520px;
  left: 96px;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
  background: #F6F6F6;
  border: 1px solid #2E3532;
  border-radius: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  
}

.first-page .title {
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #2E3532;
  margin-bottom: 20px;
}

.first-page .image {
  position: absolute;
  top: 45px;
  right: 20px;
  margin-top: -40px;
}
.first-page .image img {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}


.button-courses-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

}
.button-courses-container .button {
  display: flex; 
  margin-bottom: 10px;
  color: #F78301;
  background: #FBFBFB;
  border: 1px solid #2E3532;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 350px; 
  height: 20px; 
  max-height: 100%;
  padding: 25px; 
  font-size: 20px; 
  align-items: center;
  text-align: left;
}

.button-courses-container .button-new{
  display: flex;
  margin-bottom: 10px;
  margin-bottom: 10px;
  color: #FBFBFB;
  background: #F78301;
  border: 1px solid #2E3532;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 350px; 
  height: 20px; 
  max-height: 100%;
  padding: 25px; 
  font-size: 20px; 
  align-items: center;
  text-align: left;
}

.second-page{
  /*box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
  position: absolute;
  width: 800px;
  height: 520px;
  left: 650px;
  top: 120px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
  background: #F6F6F6;
  border: 1px solid #2E3532;
  border-radius: 25px;
  text-align: left;
  
}

.second-page span{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  font-family: 'Gothic A1';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;

  color: #2E3532
}

.button-assignments-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button-assignments-container .button1 {
  width:220px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 40px 30px ;
  
  background: #023047;
  border: 1px solid #2E3532;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.button-assignments-container .button1 .text span{
  font-size: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button-assignments-container .button2 {
  width:220px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 40px 30px ;
  
  background: #FBFBFB;
  border: 1px solid #2E3532;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}

.text {
  display: block;
  font-size: 5px;
  margin-top: -10px;
  margin-bottom: -18px;
  margin-right: 13px;
  padding:7px;
  font-family: 'Gothic 1', sans-serif;
}

.text:nth-child(1) {
  font-family: 'Gothic 1', sans-serif;
  color: #FBFBFB;
  font-size: 15px;
}

.text:nth-child(2) {
  font-family: 'Gothic 1', sans-serif;
  color: #FDCE57;
  font-size: 18px;
}

.text:nth-child(3) {
  font-family: 'Gothic 1', sans-serif;
  color: #FBFBFB;
  font-size: 18px;
}

.text1{
  display: block;
  font-size: 5px;
  margin-top: -10px;
  margin-bottom: -18px;
  margin-right: 25px;
  padding:7px;
  font-family: 'Gothic 1', sans-serif;
}
.text1:nth-child(1) {
  font-family: 'Gothic 1', sans-serif;
  color: #2E3532;
  font-size: 15px;
}

.text1:nth-child(2) {
  font-family: 'Gothic 1', sans-serif;
  color: #F78301;
  font-size: 18px;
}

.text1:nth-child(3) {
  font-family: 'Gothic 1', sans-serif;
  color: #2E3532;
  font-size: 18px;
}

/* for popup on courses part*/
.popup {
  display: none;
  position: fixed;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #FDCE57;
  border: 1px solid #000000;
  padding: 20px;
  z-index: 9999;
  max-width: 400px;
  text-align: center;
}

.popup h3 {
  margin-top: 0;
}

.popup button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

