html, body {
    margin: 0;
    padding: 0;
    background-image: url('../images/material.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
nav {
    background-color: #F78301;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
  
.logo-button {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 8%
}
  
.logo-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
  
.nav-links .button-a{
    display: inline-block;
    background-color: #FDCE57;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
  
}
.nav-links .button-b{
    display: inline-block;
    background-color: #FDCE57;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
    margin-left: 10px;
}
.nav-links .button-c{
  display: inline-block;
  background-color: #FDCE57;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;    
  font-family: "Gothic A1", sans-serif;
  width: 100px;
  height: 50%;
  margin-left: 10px;
}

.nav-links .button-a:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-b:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-c:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.profile img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #FDCE57;
    border-radius: 100px;
    object-fit: cover;
    padding: 5px; 
}

.logout img{
  height: 45px;
  width: 45px;
  max-height: 100px;
  max-width: 100px;
  margin-left: 5px;
  margin-top: 5px;
   
}

.container {
    display: flex;
    height: calc(100vh - 60px); 
}

.left-section {
    width: 20%;
    height: calc(100vh - 60px);
}
  
.left-content {
    color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}
  
.left-button {
    width: 90%;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.category-button {
    width: 90%;
    margin-top: 200px;
    margin-bottom: 10px;
    background-color: #FDCE57;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.right-section {
    width: 80%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.right-content {    
    width: 80%;
    height: 50%;    
    border: 0.15px solid black;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6F6F6;
    padding: 30px;
    padding-top: 100px;
    position: relative;
}
  
.right-button {
    background-color: #ffffff;
    color: black; 
    border: 0.15px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 16px;
    text-align: left;
    font-family: "Gothic A1", sans-serif; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.view-notes-button {
    position: absolute; 
    bottom: 70px; 
    right: 70px;    
    width: 195px;
    height: 44px;
    border-radius: 10px;
    background-color: #F78301;
    color: white;
    font-size: 16px;
    text-align: center;
    font-family: "Gothic A1", sans-serif; 
    cursor: pointer;
}
  