html, body {
    margin: 0;
    padding: 0;
   /* background-image: url('../images/first_page.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    height: 99vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
  
nav {
    background-color: #F78301;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}
  
.logo-button {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 8%
}
  
.logo-img {
    display: block;
    width: 100%;
    border-radius: 10px;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: auto;
}
  
.nav-links .button-a{
    display: inline-block;
    background-color: #FDCE57;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
  
}
.nav-links .button-b{
    display: inline-block;
    background-color: #FDCE57;
    border-radius: 10px;
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;    
    font-family: "Gothic A1", sans-serif;
    width: 100px;
    height: 50%;
    margin-left: 10px;
}
.nav-links .button-c{
  display: inline-block;
  background-color: #FDCE57;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  text-decoration: none;    
  font-family: "Gothic A1", sans-serif;
  width: 100px;
  height: 50%;
  margin-left: 10px;
}

.nav-links .button-a:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-b:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.nav-links .button-c:hover{
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.3));
}

.profile img {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #FDCE57;
    border-radius: 100px;
    object-fit: cover;
    padding: 5px; 
}

.logout img{
  height: 45px;
  width: 45px;
  max-height: 100px;
  max-width: 100px;
  margin-left: 5px;
  margin-top: 5px;
   
}

.profile-page {
    display: flex;
  }
  
  .left-section {
    width: 30%;
    margin: 30px;
  }
  
  .user-photo {
    width: 40%;
    height: 50%;
    border-radius: 1%;
    object-fit: cover;
  }

  .user-field {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .field-label {
    font-weight: bold;
  }
  
  .field-value {
    margin-top: 5px;
  }
  
  
  .user-info p {
    margin: 10px 0;
  }
  
  .user-info span {
    font-weight: bold;
  }
  
  .right-section {
    flex-grow: 1;
    margin: 30px;
  }
  
  .courses-section {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    height: 60%;
  }

  .courses-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center buttons horizontally */
  }
  
  .course-button {
    background-color: #ffffff;
    color: #F78301; /* Set the text color to orange */
    border: 0.15px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 16px;
    font-family: "Gothic A1", sans-serif; /* Use the Gothic A1 font */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  
  .courses-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .courses-section ul {
    padding: 0;
    list-style: none;
  }
  
  .calendar-section {
    /* Style the calendar section */
    
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    height: 80%;
  }
  